# Compiled object files
*.slo
*.lo
*.o

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Compiled static libraries
*.lai
*.la
*.a

# Python objects
*.pyc
dist
*egg-info

# Generated directories
debug
release
build
deps
lib
tags
vendor

# Cmake files
cmake_install.cmake
CMakeCache.txt
Makefile
CMakeFiles

# Vim temporary file
.*.swo
.*.swp

# Emacs temporary file
*~
\#*\#
.\#*

# Atom rule file
.editorconfig

# Vagrant files
.vagrant
Vagrantfile

# configure file
configure.in

# data files
*.mat
