# Compiled object files
*.slo
*.lo
*.o

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Compiled static libraries
*.lai
*.la
*.a

# Python objects
*.pyc

# Generated directories
debug
release
build
deps
lib
tags

# Vim temporary file
.*.swo
.*.swp

# Atom rule file
.editorconfig

# Vagrant files
.vagrant
Vagrantfile
