# Debug build directory
DEBUG_DIR=debug

# Release build directory
RELEASE_DIR=release

# Compilers
CXX_COMPILER=g++-4.8
C_COMPILER=gcc-4.8

# Flags passed to C++ compiler
CXXFLAGS=

# Root path to find cuda, if you installed it into some other places
# CUDA_ROOT=

# Comma seperated list of external dependencies, e.g. cuDNN
EXTERN_INCLUDE_PATH=$(pwd)/deps/include,/home/cs_user/Libs/cudnn-6.5-linux-R1
EXTERN_LIB_PATH=$(pwd)/deps/lib,/home/cs_user/Libs/cudnn-6.5-linux-R1
